body {
    height: 100vh;
    background-color: lightgray;
}

form {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
}

.pwd {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.view {
    height: 19px;
    width: 19px;
}

.inscription {
    color: black;
}

input[checkbox]:checked:before {
    background-image: url("../img/beholder.png");
}
