table, td, th {
    border: 1px solid black;
}

table {
    border-spacing: 0px;
    background-color: white;
}

body {
    height: 100vh;
    background-color: lightgray;
}

div {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
